h1 {font-family: "Copperplate", fantasy;
font-size: xx-large;
}
h2, button { font-family: "Copperplate", fantasy;
    font-size: xx-large;

}
h3 { font-family: "Monaco", monospace;
        font-weight: 900;


}
p, div { font-family: "Monaco", monospace;
    
}
em {
    font-weight: 900;
}
b {
    font-style: italic;
}
body {background-color: bisque;}
.pagina {
    display: flex;
    height: 100vh;
    flex-direction: column;
    
}

/* título do jogo e a logo ------------------------------------- */

.cabeçalho {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    gap : 15px

}
.cabeçalho h1 {
    font-size: 5rem;
}
.cabeçalho h1:hover {
    color: #413e3e;
}

.logo {
    width: 4rem;
}
.logo:hover {
    width: 4rem;
    transform: scale(1.05, 1.05);
}

/* descrição do jogo ------------------------------------- */
.bloco1 {
    display: flex;
    padding : 2rem;
    flex-direction: row;
    justify-content: flex-end;  
}


.bloco1 button { 
    border-width: 1px;
    margin: 2rem;
    padding: 2rem;
    transform: scale(1.1, 1);

    background-image: url('assets/noGameOver.png');
    color: #fafafa;
    font-size: xx-large;
                
}
.bloco1 button:hover {
    background-image: url('assets/gameOver.png');
    transform: scale(1.2, 1.1);

}

.bloco1 p {
    border: 1px solid black;
    padding: 1rem;
    justify-content: center;
    text-align: justify;
    margin: auto;
    text-indent: 2rem;
}
/*
.bloco11 {
    display: flex;
    border-width: 100px;
    border-color: black;
    background-color: aqua;
    padding: 2rem;
    justify-content: center;

}
.bloco12 { 
    background-color: blueviolet;
    padding: 2rem
}
*/

/* fotos e screenshots ------------------------------------- */
.telas {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.caixa img{
    width: 28rem;
    height: 15rem;
}

.caixa img:hover{
    transform: scale(1.05, 1.05);
}

.caixa h2 {
    text-align: center;
    font-size: x-large;
    margin-bottom: 0.5rem;
}


/* bastidores do jogo ------------------------------------- */
.datas {
    padding-bottom: 5rem;
}
.bastidores {
    align-items: center
}

.bastidores h2{
    padding: 2rem;
}
.bastidores p{ text-indent: 2rem;
    padding: 0.35rem;
 
}
 
.datas em {
    background-color: #76c372;
    color: rgb(83, 80, 80)
}

/* parte da esquerda do site ------------------------------------- */
.jogo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 3rem;
    padding-bottom: 5rem;
    border-top: 0.2rem dotted rgb(83, 80, 80);
    border-bottom: 0.2rem dotted rgb(83, 80, 80); 

}

.jogo ol {
    padding-left: 5rem;
    list-style-type: decimal;
    
}

.jogo ul {
    list-style-type: square;
    padding-left: 5rem;
    
}

.jogo h3, p, iframe{
    text-indent: 2rem;
    padding: 1rem;
}

.leftNright {
    padding-top: 3rem;
    padding-bottom: 5rem;
    border-top: 0.2rem dotted rgb(83, 80, 80);
    border-bottom: 0.2rem dotted rgb(83, 80, 80); 
}

/* divisao do site */
.siteDivide {
    display: flex;
    flex-direction: row;
    justify-content: center;
}


/* desinvolvedoras ------------------- */
.devs img{
    padding: 1rem;
    width: 12rem;
    height: 6rem;
}

.devs img:hover{
    transform: scale(1, 1);
}


.dias:hover {
    background-color: #62b6a4;
}

/* dev images ---------------------------------- */

.mini {
    display: flex;
    flex-direction: row;
    padding: 0%;
    border: 0cm;
}

.bunni {
    transform: scale(0.3, 0.8);
}

.ppl {
    transform: scale(0.7, 0.8);
}

.fox {
    transform: scale(0.8, 0.8);
}